*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans';
  list-style: none;
  text-decoration: none;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.logo{
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.navlist{
  display: flex;
}

.navlist a{
  color:white;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}

.navlist a:hover{
  border-bottom: 2px solid white;
}

#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, #383838 0%, #2b2b2b 28.53%, #1b1b1b 75.52%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

section{
  padding: 0 19%;
}


.hero-text h1{
  font-size: 72px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.hero-text p{
  text-align: justify;
  font-size: 15px;
  line-height: 1.9;
  font-size: 16px;
  color: white;
  margin-bottom: 40px;
}
.hero-img img{
  width: 500px;
  height: auto;
}

.icons{
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .30s ease;
}
.icons i:hover{
  color: rgb(212, 183, 14);
  transform: translateY(-5px);
}

.scroll-button{
  position:absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-button i{
  display: block;
  padding: 12px;
  font-size: 24px;
  color: white;
  background: rgb(212, 183, 14);
  border-radius: 30px;
  transition: all .30s ease;
}
.scroll-button i:hover{
  transform: translateY(-5px);
}


@media (max-width: 1535px){
 header{
  padding: 15px 3%;
  transition: .2s;
 }
 .icons{
  padding: 0 3%;
  transition: .2s;
 }
 .scroll-button{
  right: 3%;
  transition: .2s
  ;
 }
}


@media (max-width: 1460px){
  section{
    padding: 0 12%;
    transition: .2s;
  }
}

@media (max-width: 1340px){
  .hero-img img{
    width: 100%;
    height: auto;
  }
  .hero-text h1{
    font-size: 75px;
    margin: 0 0 30px;
  }
}

@media (max-width: 1195px){
  section{
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text{
    padding-top: 115px;
  }
  .hero-img img{
    width: 560px;
    height: auto;
  }
  .hero{
    height: 100%;
    gap:1rem;
    grid-template-columns: 1fr;
  }
  .icons{
    display: none;
  }
  .scroll-button{
    display: none;
  }
}

@media (max-width: 990px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: rgb(212, 183, 14);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
  }
  .navlist a{
    display: block;
    margin: 7px 0;
    margin-left: 0;
  }
  .navlist.open{
    right: 0;
  }
}

@media (max-width: 680px){
  .hero-img img{
    width: 100%;
    height: auto;
  }
}

