*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans", sans-serif;
}
:root{
  --bg-color: #1d1c1d;
  --text-color: #f5f5f5;
  --main-color: #FFC850;
  --second-color: #1a1a1a;
  --other-color: #c2c2c2;
  --h1-font: 5rem;
  --h2-font: 2.8rem;
  --p-font: 1rem;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}


/* --- Navbar ---*/
header{
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all .50s ease;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  max-width: 50px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo p{
  margin-left: 1rem;
  color:var(--text-color);
  font-size: 24px;
  font-weight: 600;
}

/* Navbar --- Scrolling Animation Effect */
.navlist{
  display: flex;
  margin: 0;
  padding: 0;
}
.navlist li{
  position: relative;
  list-style: none;
  margin: 0 30px;
}
.navlist li a{
  display: block;
  position: relative;
  overflow: hidden;
  height: 30px;
  font-size: var(--p-font);
}
.navlist li a span{
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.5s;
  color: var(--other-color);
}
.navlist li a span:nth-child(1){
  color: var(--other-color);
}
.navlist li a span:nth-child(2){
  color: var(--main-color);
  font-weight: 700;
}
.navlist li:hover a span:nth-child(1){
  transform: translateY(-100%);
}
.navlist li:hover a span:nth-child(2){
  transform: translateY(-100%);
}

/* Add Scrolling Up Image Effect*/
.navlist li::before{
  content: '';
  position: absolute;
  top: -20px;
  left: -55px;
  width: 100px;
  height: 100px;
  background: var(--main-color);
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50px);
}
.navlist li:hover::before{
  opacity: 1;
  transition-delay: 0.3s;
  transform: translateY(0px);
}
.navlist li:nth-child(1):before{
  background: url(/img/dog.svg);
  background-size: cover;
}
.navlist li:nth-child(2):before{
  background: url(/img/dog.svg);
  background-size: cover;
}
.navlist li:nth-child(3):before{
  background: url(/img/dog.svg);
  background-size: cover;
}
.navlist li:nth-child(4):before{
  background: url(/img/dog.svg);
  background-size: cover;
}

#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}


/* --- Hero Section ---*/
.hero{
  height: 95vh;
  width: 100%;
  background-color: var(--second-bg-color);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15%;
}

.hero-text h1{
  font-size: 72px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.hero-text p{
  text-align: justify;
  font-size: 15px;
  line-height: 1.9;
  font-size: 16px;
  color: white;
  margin-right: 30%;
}

.hero-img img{
  width: 350px;
  height: auto;
}
.hero-img img{
  animation: imgg 2s ease-in-out infinite;
  animation-delay: 3s;
}
@keyframes imgg {
  0%{transform: translateY(0);}
  50%{transform: translateY(-22px);}
  100%{transform: translateY(0);}
}

.icons{
  position: absolute;
  top: 50%;
  padding: 0 6%;
  transform: translateY(-50%);
}
.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .30s ease;
}
.icons i:hover{
  color: rgb(212, 183, 14);
  transform: translateY(-5px);
}

/*
.scroll-button{
  position:absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-button i{
  display: block;
  padding: 12px;
  font-size: 24px;
  color: white;
  background: rgb(212, 183, 14);
  border-radius: 30px;
  transition: all .30s ease;
}
.scroll-button i:hover{
  transform: translateY(-5px);
}
*/


/* --- Project1 Section ---*/
.Project1{
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: rem;
}

.Project1-text{
  margin: 5%;
}

.Project1-img img{
  width: 100%;
  height: 500px;
  object-fit: contain;
  padding: 8%;
}

.Project1-text h5{
  margin: 22px 0;
  font-size: var(--h2-font);
}

.Project1 p{
  font-size: var(--p-font);
  margin-bottom: 33px;
  line-height: 1.7;
}


/* --- Project2 Section ---*/
.Project2{
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.Project2-img img{
  width: 100%;
  height: 500px;
  object-fit: contain;
  padding: 8%;
}

.Project2-text{
  margin: 5%;
}

.Project2-text h5{
  margin: 22px 0;
  font-size: var(--h2-font);
}

.Project2 p{
  font-size: var(--p-font);
  margin-bottom: 33px;
  line-height: 1.7;
}


/* --- CALL IN ACTION Button ---*/
.h-btn{
  display: flex;
  align-items: center;
}

.btn1{
  display: block;
  border-radius: 12px;
  padding: 16px 24px;
  background: rgb(252, 217, 21);
  font-size: 16px;
  font-weight: 700;
  transition: all .7s ease;
}
.btn1:hover{
 letter-spacing: 2px;
}



/* --- Portfolio Section ---*/
.portfolio{
  background: var(--second-bg-color);
}
.Project1-text h2{
  margin-top: 22px;
  font-size: var(--h2-font);
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.row-img{
  overflow: hidden;
  border-radius: 1.7rem;
}
.row-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s;
  cursor: pointer;
}
.row-img img:hover{
  transform: scale(1.1);
}
.row{
  background: var(--bg-color);
  border-radius: 1.7rem;
  padding: 0px 0px 10px 0px;
  transition: all .7s ease;
}
.row-in{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 25px;
}
.row-left h3{
  font-size: 24px;
  margin-bottom: 8px;
}
.row-left h6{
  font-size: 14px;
  color: var(--ann-color);
}
.row-right a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
  color: var(--bg-color);
  border-radius: 1.7rem;
  font-size: 20px;
  transition: all .7s ease;
}
.row-right a:hover{
  transform: scale(1.1) translate3d(11px, 0px, 0px);
}


@media (max-width: 1535px){
 header{
  padding: 15px 3%;
  transition: .2s;
 }
 .icons{
  padding: 0 3%;
  transition: .2s;
 }
 .scroll-button{
  right: 3%;
  transition: .2s
  ;
 }
}


@media (max-width: 1460px){
  section{
    padding: 0 12%;
    transition: .2s;
  }
}

@media (max-width: 1340px){
  .hero-img img{
    width: 100%;
    height: auto;
  }
  .hero-text h1{
    font-size: 75px;
    margin: 0 0 30px;
  }
}


@media (max-width: 1195px){
  section{
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text{
    padding-top: 115px;
  }
  .hero-img img{
    width: 560px;
    height: auto;
  }
  .hero{
    height: 100%;
    gap:1rem;
    grid-template-columns: 1fr;
  }
  .icons{
    display: none;
  }
  .scroll-button{
    display: none;
  }
}


@media (max-width: 990px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    bottom:0;
    width: 100%;
    height: 100vh;
    background: rgb(71, 71, 71);
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    transition: all .55s ease-in-out;
  }
  .navlist a{
    display: block;
    padding: 0;
    margin: 0px 0px 40px 0px;
    font-size: 2rem;
    font-weight: 400;
  }
  .navlist.open{
    left: 0;
  }
}


@media (max-width: 680px){
  .hero{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
  }
  .hero-img img{
    width: 100%;
    height: auto;
  }
  .hero-text{
    padding: 0%;
  }
  .hero-text h1{
    font-size: 56px;
    margin: 2%;
  }
  .hero-text p{
    font-size: 14px;
    margin: 0%;
  }
  .navlist{
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    bottom:0;
    width: 100%;
    height: 100vh;
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    transition: all .55s ease-in-out;
  }
  .navlist a{
    display: block;
    padding: 0;
    margin: 0px 0px 40px 0px;
    font-size: 1rem;
    font-weight: 400;
  }
  .navlist.open{
    left: 0;
  }

  .logo img{
    width: 48px;
    height: 48px;
  }
}

