/*** Global Setting ***//*** Global Setting ***//*** Global Setting ***/
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
 font-weight: 400;
 font-size: 18px;
 font-family: -apple-system, BlinkMacSystemFont,"SF Pro Text", "Segoe UI", Arial, "Helvetica Neue", sans-serif;

 scroll-behavior: smooth;
}

body{
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center; /* new */
 margin: 0;
 padding: 0.5;
 min-height: 100svh; /* new */
 font-family: "MiSans", Arial, sans-serif;

 place-items: center; /* new */
}

body::before{
 position: fixed;
 top: 0;
 z-index: -1;
 width: 100vw;
 height: 100vh;
 background: linear-gradient(
 90deg,
 var(--line) 1px,
 transparent 1px var(--size)
 )
 0 -5vmin / var(--size) var(--size),
 linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(
 --size
 ) var(--size);
 content: "";

 --line: color-mix(in lch, canvasText 25%, transparent);
 mask: linear-gradient(-15deg, transparent 60%, white);
 --size: 40px;
}


/* 滚动转轮 *//* 滚动转轮 *//* 滚动转轮 */
.scroller{
 position: fixed;
 top: 1rem;
 left: 1rem;
 width: 3rem;
 transform: translateZ(0); /* 硬件加速 */

 aspect-ratio: 1;
 --radius: -1.25rem;
 will-change: transform; /* 提前通知浏览器要改变 transform 属性 */
}

.scroll-image{
 position: absolute;
 top: 50%;
 left: 50%;
 display: block;
 width: 100%; /* 根据需要调整图片大小 */
 height: auto; /* 保持图片比例 */
 transform: translate(-50%, -50%); /* 初始化位置 */
}

.scroller:before{
 position: absolute;
 display: block;
 border-radius: 50%;
 content: "";

 inset: 0;
 /*border: 1rem solid hsl(0, 0%, 19%);*/
}

@media screen and (max-width: 768px){
 .scroller{
  top: 1.5rem;
  width: 2rem; /* Smaller size for mobile */
 }
}

/** *** Light/Dark Mode Switch Button *** **//** *** Light/Dark Mode Switch Button *** **//** *** Light/Dark Mode Switch Button *** **/
.theme{
 position: fixed;
 top: 1rem;
 right: 1rem;
 display: grid;
 width: 48px;
 border: 0;
 border-radius: 6px;
 background: transparent;
 cursor: pointer;

 aspect-ratio: 1;
 place-items: center;
}

.theme:is(:hover, :focus-visible){
 background: color-mix(in lch, canvasText, canvas 85%);

 --intent: 1;
}

html.dark{
 color-scheme: dark only;
}
html.light{
 color-scheme: light only;
}

.sr-only{
 position: absolute;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 margin: -1px;
 padding: 0;
 width: 1px;
 height: 1px;
 border-width: 0;
 white-space: nowrap;
}

.theme[aria-pressed=true] path:first-of-type, .theme[aria-pressed=false] path:last-of-type{
 display: block;
}
.theme[aria-pressed=true] path:last-of-type, .theme[aria-pressed=false] path:first-of-type{
 display: none;
}

button svg{
 width: 45%;
}

.light::view-transition-new(root){
 z-index: 10;
 animation: scale 2s;

 mask: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" class=\"w-6 h-6\"><path fill=\"white\" d=\"M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z\" /></svg>")
 center / 0 no-repeat;
}
.dark::view-transition-new(root), .light::view-transition-old(root){
 z-index: -1;
 animation: none;

 mix-blend-mode: normal;
}

@keyframes scale{
 to{
  mask-size: 500vmax;
 }
}

[data-flip-ui=true]{
 view-transition-name: none;
}


/*** Go Back Button 返回按钮 ***//*** Doge Website ***/ 
.backspace{
 position: fixed;
 top: 1rem;
 right: calc(
 1rem + 56px
 ); /* Place language button to the left of the theme button */
 display: grid;
 width: 48px;
 border: 0;
 border-radius: 8px;
 background: transparent;
 cursor: pointer;

 aspect-ratio: 1;
 place-items: center;
}

.backspace i{
 font-size: 24px;
}

.backspace a{
 color: inherit; /* 继承父元素的颜色 */
 text-decoration: none; /* 去掉下划线 */
}

.backspace:is(:hover, :focus-visible){
 background: color-mix(in lch, canvasText, canvas 85%);
}

@media (max-width: 768px){
 .backspace, .theme{
  color: #504f4f;
 }
}

@media (min-width: 768px) and (max-width: 1024px){
 .backspace, .theme{
  color: #504f4f;
 }
}


/*语言切换
.language {
  position: fixed;
  top: 1rem;
  right: calc(1rem + 56px); 
  display: grid;
  width: 48px;
  border: 0;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  aspect-ratio: 1;
  place-items: center;
}

.language:is(:hover, :focus-visible) {
  background: color-mix(in lch, canvasText, canvas 85%);
}
*/

/*明暗模式以及语言切换按钮的渐入渐出*/
.backspace, .theme{
 position: fixed;
 top: 1rem;
 display: grid;
 width: 48px;
 border: 0;
 border-radius: 6px;
 background: transparent;
 cursor: pointer;
 transition: transform 0.3s, opacity 0.3s; /* 添加过渡效果 */

 aspect-ratio: 1;
 place-items: center;
}

.backspace{
 right: calc(1rem + 56px); /* 语言按钮在光暗模式按钮的左侧 */
}

.theme{
 right: 1rem; /* 光暗模式按钮的右侧 */
}

/* 初始状态 */
.hidden{
 opacity: 0; /* 完全透明 */
 transform: translateY(100%); /* 向下移出视口 */
}

@media (max-width: 768px){
 .language, .theme{
  color: #504f4f;
 }
}

@media (min-width: 768px) and (max-width: 1024px){
 .language, .theme{
  color: #504f4f;
 }
}


/* Casestudy Section*/ /* Casestudy Section*/ /* Casestudy Section*/ 
.ui-ux-casestudy{
 margin-top: 8rem; /* 仅为第一个 section 添加 margin-top */
}

section{
 margin-bottom: 12rem;
 text-align: center; /* 使标题居中 */
}

.ui-ux-casestudy h1, .graphic-design-projects h1, .other-projects h1{
 font-weight: 500;
 font-size: 48px;
}

.ui-ux-casestudy h2, .graphic-design-projects h2, .other-projects h2{
 margin-bottom: 2%;
 font-weight: 300;
 font-size: 24px;
}

.card-container h1{
 margin-bottom: 2%;
 font-weight: 500;
 font-size: 36px;
}

.card-container h2{
 margin-bottom: 5%;
 width: 75%;
 font-weight: 300;
 font-size: 14px;
}

.card-container{
 display: flex; /* 使用Flexbox */
 overflow-x: hidden; /* 禁用横向滚动 */
 flex-wrap: wrap; /* 允许换行 */
 justify-content: center; /* 居中显示容器 */

 gap: 1rem; /* 容器之间的间距 */
}

.card{
 position: relative; /* 相对定位以便绝对定位子元素 */
 overflow: hidden; /* 隐藏超出部分 */
 overflow-x: hidden;
 flex: 0 1 calc(30% - 1rem); /* 每个卡片的宽度 */
 border: 1px solid #504f4f;
 border-radius: 0.5rem;
 background: #f5f5f51a;
 transition: 250ms;
}

.card img{
 width: 100%; /* 确保图片响应式 */
 height: 100%;

 object-fit: cover;
}

.overlay{
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 background: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
 color: #ffffff;
 opacity: 0;
 transition: opacity 250ms;
}

.card:hover .overlay{
 opacity: 1; /* hover时显示overlay */
}

.card:hover{
 box-shadow: 0px 0px 10px 0px rgba(24, 34, 94, 0.15);
}

.card button{
 margin-top: 1rem;
 padding: 0.5rem 1rem;
 border: none;
 border-radius: 999px;
 background-color: #32ade6;
 color: #ffffff;
 cursor: pointer;
 transition: background-color 250ms;
}

.card button:hover{
 background-color: #f5f5f5; /* hover时按钮变色 */
 color: #32ade6;
}

@media only screen and (max-width: 768px){
 .card{
  flex: 0 1 calc(100% - 1rem);
  margin-top: 2%;
  margin-bottom: 2%;

/* 小屏幕时每个卡片占满100%宽度 */
  max-width: 90%; /* 确保卡片不超出容器 */
  height: auto;
 }

 .card button{
  font-size: 12px;
 }

 .ui-ux-casestudy h1, .graphic-design-projects h1, .other-projects h1{
  font-weight: 600;
  font-size: 24px;
 }

 .ui-ux-casestudy h2, .graphic-design-projects h2, .other-projects h2{
  margin-bottom: 5%;
  font-weight: 300;
  font-size: 16px;
 }

 section{
  margin-bottom: 6rem;
  text-align: center; /* 使标题居中 */
 }
}
