/** ============================================================================================================= */
/** Global Setting
/** ============================================================================================================= */

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
 font-weight: 400;
 font-size: 18px;
 font-family: -apple-system, BlinkMacSystemFont,"SF Pro Text", "Segoe UI", Arial, "Helvetica Neue", sans-serif;

 scroll-behavior: smooth;
}

body{
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center; /* new */
 margin: 0;
 padding: 0.5;
 min-height: 100svh; /* new */

 place-items: center; /* new */
}

h1{
 display: flex;
 flex-direction: column;
 text-align: center;
 font-weight: 500;
 font-size: clamp(3rem, 4vw + 1rem, 8rem);
 line-height: 0.9;
}

h1 span:first-of-type{
 font-variant: small-caps;
 font-size: 0.5em;
}

h1 span:last-of-type{
 font-weight: 600;
}

.content{
 display: flex;

/*  gap: 0 var(--gap);*/
 align-items: center;
 margin: 0;
 padding: 0 1rem;
 height: 100%;
 list-style-type: none;
}

/** ============================================================================================================= */
/** Global Setting
/** ============================================================================================================= */













/** ============================================================================================================= */
/** 明暗模式
/** ============================================================================================================= */

.theme{
 position: fixed;
 top: 1rem;
 right: 1rem;
 display: grid;
 width: 48px;
 border: 0;
 border-radius: 6px;
 background: transparent;
 cursor: pointer;

 aspect-ratio: 1;
 place-items: center;
}

.theme:is(:hover, :focus-visible){
 background: color-mix(in lch, canvasText, canvas 85%);

 --intent: 1;
}

html.dark{
 color-scheme: dark only;
}
html.light{
 color-scheme: light only;
}

.sr-only{
 position: absolute;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 margin: -1px;
 padding: 0;
 width: 1px;
 height: 1px;
 border-width: 0;
 white-space: nowrap;
}

.theme[aria-pressed="true"] path:first-of-type, .theme[aria-pressed="false"] path:last-of-type{
 display: block;
}
.theme[aria-pressed="true"] path:last-of-type, .theme[aria-pressed="false"] path:first-of-type{
 display: none;
}

button svg{
 width: 45%;
}

.light::view-transition-new(root){
 z-index: 10;
 animation: scale 2s;

 mask: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" class=\"w-6 h-6\"><path fill=\"white\" d=\"M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z\" /></svg>")
 center / 0 no-repeat;
}
.dark::view-transition-new(root), .light::view-transition-old(root){
 z-index: -1;
 animation: none;

 mix-blend-mode: normal;
}

@keyframes scale{
 to{
  mask-size: 500vmax;
 }
}

[data-flip-ui="true"]{
 view-transition-name: none;
}

/** ============================================================================================================= */
/** 明暗模式
/** ============================================================================================================= */













/** ============================================================================================================= */
/** 返回按钮
/** ============================================================================================================= */

.backspace{
 position: fixed;
 top: 1rem;
 right: calc(
 1rem + 56px
 ); /* Place language button to the left of the theme button */
 display: grid;
 width: 48px;
 border: 0;
 border-radius: 6px;
 background: transparent;
 cursor: pointer;

 aspect-ratio: 1;
 place-items: center;
}

.backspace i{
 font-size: 24px;
}

.backspace a{
 color: inherit; /* 继承父元素的颜色 */
 text-decoration: none; /* 去掉下划线 */
}

.backspace:is(:hover, :focus-visible){
 background: color-mix(in lch, canvasText, canvas 85%);
}

/** ============================================================================================================= */
/** 返回按钮 - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 .backspace, .theme{
  color: #504f4f;
 }
}

@media (min-width: 768px) and (max-width: 1024px){
 .backspace, .theme{
  color: #504f4f;
 }
}

/** ============================================================================================================= */
/** 返回按钮
/** ============================================================================================================= */











/** ============================================================================================================= */
/** 明暗模式 & 返回按钮 FadeIN &* OUT
/** ============================================================================================================= */

.backspace, .theme{
 position: fixed;
 top: 1rem;
 display: grid;
 width: 48px;
 border: 0;
 border-radius: 6px;
 background: transparent;
 cursor: pointer;
 transition: transform 0.3s, opacity 0.3s; /* 添加过渡效果 */

 aspect-ratio: 1;
 place-items: center;
}

.backspace{
 right: calc(1rem + 56px); /* 语言按钮在光暗模式按钮的左侧 */
}

.theme{
 right: 1rem; /* 光暗模式按钮的右侧 */
}

/* 初始状态 */
.hidden{
 opacity: 0; /* 完全透明 */
 transform: translateY(100%); /* 向下移出视口 */
}

/** ============================================================================================================= */
/** 明暗模式 & 返回按钮 FadeIN &* OUT - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 .backspace, .theme{
  color: #504f4f;
 }
}

@media (min-width: 768px) and (max-width: 1024px){
 .backspace, .theme{
  color: #504f4f;
 }
}


html{
 color-scheme: light only;
}

html:not(:focus-within){
 scroll-behavior: smooth;
}

/** ============================================================================================================= */
/** 明暗模式 & 返回按钮 FadeIN &* OUT
/** ============================================================================================================= */















/** ============================================================================================================= */
/** Header Section
/** ============================================================================================================= */

/*** Heard Section 布局设置 ***//*** Doge Website ***/ 
header{
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 50vh;
 width: 100%;
 text-align: center;
}

.header-content{
 display: flex;
 align-items: center; /* 垂直方向居中 */
 justify-content: space-between; /* 左右两边的内容保持间距 */
 padding: 10%;
 width: 90%;
}

/* 左侧文本部分样式 */
.header-text{
 flex: 1; /* 左侧占据可用空间 */
 padding-right: 20px; /* 文字和图片之间的间距 */
 text-align: left; /* 左对齐 */
}

.header-text h1{
 margin-bottom: 10px;
 text-align: left;
 font-weight: 600;
 font-size: 2.8rem;
}

.header-text h2{
 margin-bottom: 20px;
 font-weight: 400;
 font-size: 1.2rem;
}

.title-box{
 display: inline-block;
 border-radius: 999px;
 color: #a67c52;
 font-weight: 500;
 font-size: 24px;
}

/* 右侧图片部分样式 */
.header-image{
 display: flex;
 flex: 1; /* 右侧图片占据剩余空间 */
 justify-content: flex-end; /* 图片靠右对齐 */
}

.header-image img{
 max-width: 600px;
 max-height: 600px;
 width: 100%;
 height: auto;
}

/** ============================================================================================================= */
/** Header Section - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 /* 根据需要调整最大宽度 */
 header{
  height: 100vh; /* 确保在手机上 header 满屏 */
 }

 .header-content{
  align-items: center; /* 水平居中对齐 */
  flex-direction: column; /* 在小屏幕上使用竖向布局 */
 }

 .header-image{
  justify-content: center; /* 图片居中对齐 */
  order: -1; /* 使图片在文字之前显示 */
  margin-bottom: 25%; /* 为图片和文字之间添加间距 */
  max-width: 100%;
  width: 75%; /* 使图片部分占满宽度 */
 }

 .header-text, .header-text h1{
  padding-right: 0; /* 移除右侧内边距 */
  text-align: center; /* 文字居中对齐 */
  text-wrap: nowrap;
  font-size: 2.6rem;
 }

 .header-text h2{
  text-align: center;
  text-wrap: wrap;
  font-size: 1.1rem;
 }

 .title-box{
  display: none;
 }
}

/** ============================================================================================================= */
/** Header Section
/** ============================================================================================================= */











/** ============================================================================================================= */
/** Main Section
/** ============================================================================================================= */

main{
 margin: 0 auto;
 margin-top: 6rem;
 min-height: 200vh;
 max-width: 100%;
 width: 100%;
}

main section{
 display: grid;
 align-content: center;
 min-height: 100vh;
 text-align: center;

 place-items: center;
}

h2{
 font-weight: 500;
 font-size: 32px;
}

h2{
 font-size: clamp(1.5rem, 3vw + 1rem, 6rem);
}


/** ============================================================================================================= */
/** Project Intro
/** ============================================================================================================= */

#projintro{
 margin: 0 auto; /* 居中对齐 */
 padding: 20px;
 max-width: 1200px;
}

#projintro h2{
 font-size: 36px;
}

.overview-solution{
 display: flex; /* 使用flex布局 */
 justify-content: space-between; /* 左右对齐 */
 margin-bottom: 10%; /* 下面的间距 */
 width: 100%;
 text-align: left;
}

.overview, .solution{
 flex: 1; /* 等分宽度 */
 margin: 0 5%; /* 移除左右间距 */
}

.role{
 display: flexbox; /* 使用flex布局 */
 flex-direction: column;
 margin-bottom: 50px; /* 下面的间距 */
 margin-left: 8%;
 padding: 0; /* 移除内边距 */
 width: 100%;
 text-align: left;
}


.section-title{
 display: flex; /* 使用flex布局使图标和文本水平对齐 */
 align-items: center; /* 垂直居中 */
 margin-bottom: 2%;
}

.section-title img{
 margin-right: 12px;
 width: 36px;
 height: 36px;
}

.project-list{
 margin: 0; /* 移除外边距 */
 padding: 0; /* 移除内边距 */
 list-style-type: none; /* 移除默认的圆点 */
}

.project-list-item{
 position: relative; /* 使绝对定位的伪元素相对于列表项 */
 margin-bottom: 10px; /* 增加列表项之间的间距 */
 padding-left: 1.5em; /* 为每个项目增加左边距 */
 line-height: 1.6; /* 增加行间距 */
}

.project-list-item::before{
 position: absolute; /* 绝对定位 */
 top: 0; /* 保持符号在顶部 */
 left: 0.5em; /* 将符号位置稍微向右移动，避免重叠 */
 content: "•"; /* 使用自定义符号 */
 font-size: 1.2em; /* 符号大小 */
}

.used-software{
 margin: 0 auto; /* 居中对齐 */
 margin-top: 40px; /* 与上方内容的间距 */
 margin-bottom: 40px;
 width: 80%; /* 与其他块宽度保持一致 */
 text-align: center; /* 文字居中 */
}

.software-logos{
 display: flex; /* 使用flex布局 */
 flex-wrap: wrap; /* 允许换行 */
 justify-content: center; /* 居中对齐 */
}

.software-logos img{
 margin: 0 5%; /* 每个 logo 之间的间距 */
 width: 80px; /* 根据需求设置 logo 的宽度 */
 height: auto; /* 保持纵横比 */
}

/** ============================================================================================================= */
/** Project Intro - Media Query for Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 #projintro{
  width: 100%;
 }

 #projintro h2{
  margin-bottom: 12px;
  font-size: 24px;
 }

 #projintro p{
  font-size: 14px;
 }

 .overview-solution, .goal-role{
  flex-direction: column; /* 切换为纵向布局 */
  margin-bottom: 0;
  width: 100%; /* 确保宽度为100% */
 }

 .role, .solution, .overview{
  margin-bottom: 20%;
  padding: 0; /* 确保没有内边距 */
 }

 .project-list-item{
  padding-left: 1.2em; /* 增加左边距，确保内容左对齐 */
  font-size: 14px;
 }

 .project-list-item::before{
  left: 0.3em; /* 将符号位置稍微向右移动 */
 }

 .used-software{
  margin-top: 2px;
  width: 100%;
 }

 .software-logos img{
  margin: 0 4%; /* 每个 logo 之间的间距 */
  width: 50px; /* 根据需求设置 logo 的宽度 */
  height: auto; /* 保持纵横比 */
 }
}

/** ============================================================================================================= */
/** Project Intro
/** ============================================================================================================= */













/** ============================================================================================================= */
/** Design Project Section Title
/** ============================================================================================================= */

#designproj-title{
 margin: 0 auto; /* 水平居中 */
 margin-top: 10%;
 margin-bottom: 10%;
 padding: 3% 10%; /* 增加内边距，突出该区域 */
 min-height: 0vh;
 width: 100%;
 border-top: 2px solid #e0e0e0; /* 上边界线 */
 border-bottom: 2px solid #e0e0e0; /* 下边界线 */
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* 轻微阴影，增加层次感 */
 text-align: center;
}

#designproj-title h2{
 margin-bottom: 10px;
 font-weight: 700; /* 加粗标题，使其更具视觉冲击力 */
 font-size: 2.7rem;
}

/** ============================================================================================================= */
/** Design Project Section Title - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 #designproj-title{
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 5%; /* 增加内边距 */
  width: 100%;
 }

 #designproj-title h2{
  font-size: 2rem; /* 调整手机上的标题大小 */
 }

 #designproj-title p{
  font-size: 1rem; /* 调整手机上的段落字体大小 */
 }
}

/** ============================================================================================================= */
/** Design Project Section Title
/** ============================================================================================================= */














/** ============================================================================================================= */
/** Design Project Section
/** ============================================================================================================= */

#designproj{
 margin-top: 0; /* 去掉上方的额外间距 */
 padding-top: 0; /* 减少内边距 */
}

#designproj h4{
 color: #a67c52;
 font-weight: 300;
 font-size: 28px;
 ;
}

/** ============================================================================================================= */
/** Design Project Section - Media Query for IPAD and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 #designproj p{
  width: 100%;
  font-size: 16px;
 }

 #designproj h3{
  font-size: 32px;
 }

 #designproj h4{
  font-weight: 400;
  font-size: 24px;
 }
}




/** ============================================================================================================= */
/** Navbar Section
/** ============================================================================================================= */

.centernav{
 position: relative;
 z-index: 1000;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 margin-bottom: 5%;
 padding: 0px;
 width: 100%; /* 初始状态下宽度为100% */
 height: 50px;
 border: 1px solid #2c2c2e;
 border-radius: 999px; /* 设置圆角半径 */
 background-color: #f5f5f5;
 text-wrap: nowrap;
 transition: width 0.6s ease, height 0.6s ease, background-color 0.6s ease; /* 添加展开动画 */
}

.centernav.shrinking{
 width: 200px; /* 导航栏逐渐收缩为按钮宽度 */
 height: 50px;
}

/* 收缩状态样式 */
.centernav.shrinking #navLogo{
 content: url("/res/Alphonse.svg"); /* 默认图标 */
}

/* 展开状态样式 */
.centernav.expanding #navLogo{
 content: url("/res/top-up_mannercoffee.svg"); /* 展开时的图标 */
}

.centernav.expanding{
 position: fixed; /* 固定在顶部 */
 top: 1rem;
 left: 50%;
 max-width: 600px; /* 导航栏逐渐展开到最大 */
 width: auto;
 height: 50px; /* 可根据需要调整最终高度 */
 border: 1px solid #2c2c2e;
 border-radius: 999px; /* 确保展开状态也有弧度 */
 background-color: #f5f5f5e3;
 transform: translateX(-50%); /* 居中 */
}

.nav-logo{
 display: block; /* 使其成为块级元素，去除下方间隙 */
 margin: 0px;
 padding: 0px;
 width: 50px; /* 根据需要设置 logo 的宽度 */
 height: 50px; /* 根据需要设置 logo 的高度 */
 cursor: pointer; /* 鼠标悬停时显示为指针 */

 object-fit: contain;
}

.nav-menu{
 display: none;
}

.centernav.expanding .nav-menu{
 display: flex; /* 展开后显示导航菜单并横向排列 */
 align-items: center;
 justify-content: center;
 width: fit-content;
}

.nav-menu ul{
 display: flex; /* 菜单项横向排列 */
 align-items: center;
 justify-content: center;
 list-style: none;
}

.nav-menu ul li{
 margin: 0 30px; /* 菜单项间距 */
}

.nav-menu ul li a{
 color: #c7c7c7;
 text-decoration: none;
 font-size: 18px;
 transition: color 0.5s ease; /* 为颜色变化添加过渡动画 */
}

/* 高亮状态下的按钮颜色 */
.nav-menu ul li a.active{
 color: #a67c52;
 font-weight: 500;
}

.nav-menu ul li a:hover{
 text-decoration: underline;
}

.category-button{
 display: block; /* 默认显示类别按钮 */
 border: none;
 background-color: transparent;
 color: #2c2c2e;
 text-wrap: nowrap;
 font-weight: 600;
 font-size: 16px;
 cursor: pointer;
}

/* 收缩状态下的样式 */
.centernav.shrinking .category-button{
 display: block; /* 收缩时仍然显示类别按钮 */
 margin-left: 12%;
}

/* 在扩展时，确保导航菜单显示 */
.centernav.expanding .category-button{
 display: none; /* 展开时保持按钮显示 */
}

/** ============================================================================================================= */
/** Navbar Section - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

@media (min-width: 769px) and (max-width: 1024px){
 .category-button{
  display: block; /* 在iPad上显示按钮 */
 }

 .centernav.expanding{
  margin-top: 20px; /* 调整顶部边距 */
  width: 550px; /* iPad屏幕上导航栏占60%宽度 */
 }

 .nav-menu ul li a{
  margin-left: 20px; /* 增加菜单项间距 */
  font-size: 18px; /* iPad上字体大小 */
 }

 .nav-menu ul li{
  margin-left: 20px; /* 增加菜单项间距 */
 }
}

/* 手机自适应 */
@media (max-width: 768px){
 .category-button{
  display: block; /* 在手机上显示按钮 */
 }

 .lang-cn .centernav.expanding{
  margin-top: 24px ;
  width: 32vh; /* 手机屏幕上导航栏占满宽度 */
 }

 .lang-en .centernav.expanding{
  margin-top: 24px ;
  width: 42vh; /* 手机屏幕上导航栏占满宽度 */
 }

 .nav-menu ul li a{
  margin-left: 16px;
  text-wrap: nowrap;
  font-size: 16px; /* 初始字体大小缩小 */
 }

 .nav-menu ul li{
  margin-left: 16px; /* 减小菜单项间距 */
 }


 /* 如果屏幕宽度小于480px时进一步缩小字体 */
 @media (max-width: 480px){
  .nav-menu ul li a{
   font-size: 14px; /* 更小的字体 */
  }

  .nav-menu ul li{
   margin: 0 5px; /* 更小的间距 */
  }
 }
}

/** ============================================================================================================= */
/** Navbar Section
/** ============================================================================================================= */

















/** ============================================================================================================= */
/** Designproj Step 1 Section
/** ============================================================================================================= */

#step1{
 margin: 0 auto; /* 居中显示 */
 max-width: 1200px; /* 根据上个 subsection 的宽度设置 */;
}

/* Subsection understanding 了解 */
#step1 h3{
 font-weight: 500;
 font-size: 36px;
}

#step1 p{
 margin-bottom: 50px;
 font-size: 18px;
 line-height: 1.6;
}

@media (min-width: 769px) and (max-width: 1024px){
 /* 针对 iPad */
 .subsection{
  padding: 20px; /* 增加内边距 */
 }

 #step1 h3{
  font-weight: 500;
  font-size: 32px;
 }

 #step1 h4{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
 }

 #step1 p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
 }
}

/** ============================================================================================================= */
/** Designproj Step 1 Section - Understanding Subsection
/** ============================================================================================================= */

#step1-group{
 margin: 0 auto; /* 居中对齐 */
 padding: 40px 20px; /* 内边距，保持内容与边缘有一定距离 */
 max-width: 1200px; /* 控制整个部分的宽度 */
}

#step1-group h3{
 font-weight: 500;
 font-size: 36px;
}

#step1-group p{
 margin-bottom: 20px;
 font-size: 18px;
 line-height: 1.6;
}


.problem1-text h4{
 margin-bottom: 20px 0; /* 标题和段落的间距 */
 color: #a67c52;
 font-weight: 300; /* 半粗体 */
 font-size: 28px; /* 增大标题字体 */
}

/* 为combined-content中的每个小节添加间距 */
.problem1-content{
 display: flex;
 align-items: flex-start;
 flex-wrap: wrap;
 justify-content: space-between;

 gap: 40px;
}

.problem1-text-group{
 display: grid;
 flex: 1;
 min-width: 300px;

 gap: 20px;
 grid-template-columns: repeat(2, 1fr); /* 保持两列 */
}

/* 图片和文字的占比 */
.problem1-image{
 flex-shrink: 0;
 min-width: 280px;
 width: 55%;
}

/* 图片样式 */
.problem1-image img{
 width: 100%;
 border-radius: 12px;

 object-fit: cover;
}

#designproj .problem1-text h4{
 font-size: 24px;
}

#designproj .problem1-text p{
 padding: 5%;
 text-align: center;
 font-size: 14px;
}

#step1-group-mobile{
 display: none;
}

/** ============================================================================================================= */
/** Designproj Step 1 Section - Understanding Subsection - Media Query For Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 #step1-group{
  display: none;
 }

 .subsection{
  padding: 15px; /* 减小内边距 */
 }

 #step1-group-mobile{
  display: block;
 }

 #step1-group-mobile{
  margin: 0 auto; /* 居中对齐 */
  padding: 40px 20px; /* 内边距，保持内容与边缘有一定距离 */
  max-width: 500px; /* 控制整个部分的宽度 */
 }

 /* 改进项目样式 */
 #step1-group-mobile{
  margin-bottom: 30px; /* 改进之间的间距 */
  padding: 15px; /* 内边距 */
  border: 1px solid #2c2c2e; /* 边框 */
  border-radius: 8px; /* 圆角 */
  background-color: #f5f5f5e3; /* 背景色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 #step1-group-mobile p{
  margin-top: 5%;
 }

 /* 改进标题样式 */
 #step1-group-mobile h5{
  margin-bottom: 10px; /* 标题与内容之间的间距 */
  font-weight: 500; /* 字体粗细 */
  font-size: 20px; /* 改进标题字体大小 */
 }

 /* 图片容器样式 */
 .step1-group-mobile-image-container{
  display: flex; /* 使用flex布局 */
  justify-content: center; /* 图片居中对齐 */
  margin-top: 10px; /* 图片与上方内容之间的间距 */
 }

 /* 图片样式 */
 .step1-group-mobile-image-container img{
  width: 100%;
  border-radius: 8px;
 }

 #step1 h3{
  font-weight: 500;
  font-size: 32px;
 }

 #step1 h4{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
 }

 #step1 p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
 }
}

@media (min-width: 769px) and (max-width: 1024px){
 /* 针对 iPad */
 .problem1-content{
  flex-direction: row; /* 保持横向排列，图片和文字左右布局 */
 }

 .problem1-image{
  margin-right: 15px; /* 增加右边距 */
 }

 #step1-group-mobile{
  display: none;
 }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
 #step1-group{
  width: 90%;
 }

 #step1-group-mobile{
  display: none;
 }
}

/** ============================================================================================================= */
/** Designproj Step 1 Section 
/** ============================================================================================================= */














/** ============================================================================================================= */
/** Designproj Step 2 Section 
/** ============================================================================================================= */

#step2{
 margin: 0 auto; /* 居中对齐 */
 padding: 40px 20px; /* 内边距，保持内容与边缘有一定距离 */
 max-width: 1200px; /* 控制整个部分的最大宽度 */
}

#step2 h3{
 font-weight: 500;
 font-size: 36px;
}


#step2 h4{
 margin-bottom: 20px;
 text-align: center;
 font-weight: 300;
 font-size: 28px;
}

#step2 p{
 margin-bottom: 20px;
 padding: 0px 8%;
 color: #282728;
 font-size: 18px;
 line-height: 1.6;
}


/* 改进项目样式 */
.step2-improvement{
 margin-bottom: 40px; /* 改进之间的间距 */
 padding: 15px; /* 内边距 */
 border: 1px solid #2c2c2e; /* 边框 */
 border-radius: 8px; /* 圆角 */
 background-color: #f5f5f5e3; /* 背景色 */
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step2-improvement p{
 margin-top: 5%;
}

/* 改进标题样式 */
.step2-improvement h5{
 margin-bottom: 10px; /* 标题与内容之间的间距 */
 font-weight: 500; /* 字体粗细 */
 font-size: 24px; /* 改进标题字体大小 */
}

/* 图片容器样式 */
.step2-image-container{
 display: flex; /* 使用flex布局 */
 justify-content: center; /* 图片居中对齐 */
 margin-top: 10px; /* 图片与上方内容之间的间距 */
}

/* 图片样式 */
.step2-image-container img{
 width: 75%; /* 图片自适应宽度 */
 border-radius: 8px; /* 圆角 */
}

/** ============================================================================================================= */
/** Designproj Step 2 Section - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 #step2{
  width: 100%;
 }

 .step2-improvement{
  margin-bottom: 30px; /* 减小改进项目之间的间距 */
 }

 .step2-improvement h5{
  font-size: 20px; /* 调整改进标题字体大小 */
 }

 .step2-image-container img{
  width: 100%; /* 图片自适应宽度 */
  border-radius: 8px; /* 圆角 */
 }

 #step2 h3{
  font-weight: 500;
  font-size: 32px;
 }

 #step2 h4{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
 }

 #step2 p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
 }
}

/* 媒体查询 - 针对 iPad */
@media (min-width: 769px) and (max-width: 1024px){
 #step2{
  padding: 30px; /* 减小内边距 */
 }

 .step2-improvement{
  margin-bottom: 35px; /* 调整改进项目之间的间距 */
 }

 .step2-improvement h5{
  font-size: 22px; /* 调整改进标题字体大小 */
 }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
 #step2{
  width: 90%;
 }
}

/** ============================================================================================================= */
/** Designproj Step 2 Section
/** ============================================================================================================= */

















/** ============================================================================================================= */
/** Designproj Step 3 Section
/** ============================================================================================================= */

#step3{
 margin: 0 auto; /* 居中对齐 */
 padding: 40px 20px; /* 内边距，保持内容与边缘有一定距离 */
 max-width: 1200px; /* 控制整个部分的最大宽度 */
}


#step3 h3{
 font-weight: 500;
 font-size: 36px;
}


#step3 h4{
 margin-bottom: 20px;
 text-align: center;
 font-weight: 300;
 font-size: 28px;
}

#step3 p{
 margin-bottom: 10%;
 font-size: 18px;
 line-height: 1.6;
}


/* 图片卡容器：保持左右对称布局 */
.step3-interactive-image-button{
 display: flex;
 align-items: center;
 flex-direction: column;
 margin: 0 auto;
 max-width: 620px;
 width: 100%;
 text-decoration: none;
}

.step3-interactive-image{
 margin-top: 3%;
 width: 100%;
 height: auto;
 border-radius: 12px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step3-interactive-image:hover{
 transform: scale(1.05);
}

.step3-interactive-image-caption{
 margin-top: 10px;
 color: #ffffff;
 text-align: center;
 font-size: 1rem;
}


/* 图片卡容器：保持左右对称布局 */
.step3_1-image-container{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-between; /* 左右等间距分布 */
 margin: 0 auto; /* 保持容器整体居中 */
 margin-bottom: 10%;
 max-width: 900px; /* 设置最大宽度 */
 width: 100%;
}

/* 单张图片卡样式 */
.step3_1-image{
 position: relative;
 display: flex;
 align-items: center;
 flex: 1; /* 左右图片占据等量空间 */
 flex-direction: column;

 gap: 20%; /* 增加中间间距，比如 20px */
}

.step3_1-image img{
 position: relative;
 z-index: 1; /* 确保图片层级较高 */
 width: 320px;
 height: auto;
 border-radius: 36px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.step3_1-image-right img{
 position: relative;
 z-index: 1; /* 确保图片层级较高 */
 width: 220px;
 height: auto;
 border-radius: 36px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* 图片描述文字 */
.step3_1-image-caption{
 margin-top: 10px;
 color: #ffffff;
 text-align: center;
 font-size: 1rem;
}

/** ============================================================================================================= */
/** Designproj Step 3 Section - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 .step3-interactive-image-button{
  max-width: 350px;
 }
 .step3-interactive-image{
  border-radius: 18px;
 }

 .step3_1-image-container{
  align-items: center; /* 居中对齐 */
  flex-direction: column; /* 切换为垂直布局 */

  gap: 40px; /* 垂直间距 */
 }

 .step3_1-image{
  flex: unset; /* 移除 flex 占比，确保垂直对齐 */
 }

 .step3_1-image img{
  width: 200px; /* 缩小图片宽度 */
  height: auto;
  border-radius: 18px;
 }

 #step3 h3{
  font-weight: 500;
  font-size: 32px;
 }

 #step3 h4{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
 }

 #step3 p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
 }
}

@media (max-width: 1024px) and (min-width: 768px){
 .step3_1-image-container{
  justify-content: space-evenly; /* 调整间距适配iPad屏幕 */
 }

 .step3_1-image img{
  width: 260px; /* 缩小图片宽度 */
 }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
 #step3{
  width: 90%;
 }
}

/** ============================================================================================================= */
/** Designproj Step 3 Section
/** ============================================================================================================= */

/** ============================================================================================================= */
/** Design Project Section
/** ============================================================================================================= */

/** ============================================================================================================= */
/** Main Section
/** ============================================================================================================= */















/** ============================================================================================================= */
/** Thoughts Section 
/** ============================================================================================================= */

#thoughts{
 margin: 0 auto; /* 居中对齐 */
 padding: 40px 20px; /* 内边距，保持内容与边缘有一定距离 */
 max-width: 1200px; /* 控制整个部分的最大宽度 */
}

/* 主标题样式 */
#thoughts h2{
 margin-bottom: 20px; /* 标题与内容之间的间距 */
 text-align: center; /* 居中对齐 */
 font-weight: 500; /* 字体粗细 */
 font-size: 36px; /* 标题字体大小 */
}

/* 段落文本样式 */
#thoughts p{
 font-size: 18px; /* 段落字体大小 */
 line-height: 1.6; /* 行高，增加可读性 */
}

/** ============================================================================================================= */
/** Thoughts Section - Media Query For Ipad and Mobile Screens
/** ============================================================================================================= */

@media (max-width: 768px){
 #thoughts{
  width: 90%;
 }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
 #thoughts{
  width: 90%;
 }
}

/* 媒体查询 - 针对 iPad */
@media (min-width: 768px) and (max-width: 1024px){
 #thoughts{
  padding: 30px; /* 减小内边距 */
  width: 95%;
 }
}

/** ============================================================================================================= */
/** Thoughts Section 
/** ============================================================================================================= */













/** ============================================================================================================= */
/** Personal Info Card
/** ============================================================================================================= */

#infocard{
 position: relative;
 overflow-x: hidden; /* 防止横向溢出 */
 margin-bottom: 5%;
 max-width: 1200px;
 width: 100%;
}

#infocard h1{
 margin-bottom: 2%;
 text-align: left;
 font-size: 32px;;
}

.personal-info, .contact-info{
 margin-bottom: 1rem;
}

.skill-icon{
 width: 32px;
 height: 32px;
}
.cards-container{
 display: flex;
 flex-wrap: wrap; /* 允许卡片换行 */
 justify-content: space-between; /* 横排布局 */

 gap: 1.5rem; /* 卡片之间的间距 */
}

/* 自适应卡片宽度 */
.card1{
 display: flex;
 flex: 1 1 30%; /* 自适应宽度，最多占容器的 30% */
 flex-direction: column; /* 使卡片内的内容纵向布局 */
 padding: 1rem;
 min-width: 250px; /* 最小宽度，确保卡片不会过小 */
 border: 1px solid #2c2c2e;
 border-radius: 0.5rem;
 background-color: #f5f5f51a;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 transition: box-shadow 0.3s ease-in-out;
}

.card1-header{
 display: flex;
 align-items: center;
 margin-bottom: 1rem; /* 图标和标题之间的间距 */
}

.card1-icon{
 margin-right: 1rem; /* 图标和标题之间的间距 */
}

.card1-icon img{
 width: 3rem; /* 图标宽度 */
 height: 3rem; /* 图标高度 */
}

.card1-title{
 display: flex;
 flex-direction: column; /* 标题文本垂直对齐 */
 justify-content: center; /* 在卡片内垂直居中对齐 */
}

.card1-title h3{
 margin: 0;
 font-size: 1.25rem;
}

.card1-content p{
 margin-top: 0.5rem;
 text-align: justify;
 font-size: 16px;
}

/*ICON部分*/
.wrapper{
 position: absolute;
 right: 1rem;
 bottom: 1rem;
 display: inline-flex;
 list-style: none;
}

.wrapper .icon{
 position: relative;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 margin: 10px;
 padding: 15px;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background: #f5f5f5;
 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
 color: #2c2c2e;
 font-size: 18px;
 cursor: pointer;
 transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a{
 color: inherit; /* 继承父元素的颜色 */
 text-decoration: none; /* 去掉下划线 */
}

.wrapper .tooltip{
 position: absolute;
 top: 0;
 padding: 5px 8px;
 border-radius: 8px;
 background: #ffffff;
 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
 color: #ffffff;
 font-size: 14px;
 opacity: 0;
 transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 pointer-events: none;
}

.wrapper .tooltip::before{
 position: absolute;
 bottom: -3px;
 left: 50%;
 width: 8px;
 height: 8px;
 background: #ffffff;
 content: "";
 transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 transform: translate(-50%) rotate(45deg);
}

.wrapper .icon:hover .tooltip{
 top: -45px;
 visibility: visible;
 opacity: 1;
 pointer-events: auto;
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip{
 text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover, .wrapper .linkedin:hover .tooltip, .wrapper .linkedin:hover .tooltip::before{
 background: #0077b5;
 color: #ffffff;
}

.wrapper .email:hover, .wrapper .email:hover .tooltip, .wrapper .email:hover .tooltip::before{
 background: #1da1f2;
 color: #ffffff;
}

.wrapper .resume:hover, .wrapper .resume:hover .tooltip, .wrapper .resume:hover .tooltip::before{
 background: #09b83e;
 color: #ffffff;
}

/** ============================================================================================================= */
/** Personal Info Card - Media Query for Ipad and Mobile Screens
/** ============================================================================================================= */

/* 针对 iPad Pro (宽度 1024px) */
@media screen and (min-width: 1024px) and (max-width: 1366px){
 #infocard{
  width: 90%;
 }

 .wrapper{
  position: relative;
  display: flex;
  flex-wrap: nowrap; /* 不换行 */
  justify-content: flex-end; /* 左右两边对齐 */
  margin-top: 2rem; /* 增加顶部间距 */
  width: 100%;
 }

 .card1{
  flex: 1 1 calc(45% - 1rem); /* 宽度调整到45%，保证间距 */
  height: 350px; /* 增大卡片高度适应 iPad Pro */
 }
}

/* Wrapper 在平板 (宽度 768px 到 1024px) 屏幕下的布局 */
@media (min-width: 769px) and (max-width: 1024px){
 #infocard{
  width: 95%;
 }

 .wrapper{
  position: static; /* 移动到正常文档流中 */
  flex-wrap: wrap; /* 图标换行 */
  justify-content: flex-end; /* 水平居中对齐 */
  margin-top: 1rem; /* 在文本下方增加间距 */
  width: 100%;
 }
}

/* Wrapper 在手机 (宽度 768px 以下) 屏幕下的布局 */
@media screen and (max-width: 768px){
 #infocard{
  width: 90%;
 }

 .wrapper{
  flex-direction: row; /* 图标横向排列 */
  justify-content: flex-end; /* 水平居中对齐 */
  width: 100%; /* 占据 100% 宽度 */
 }

 .card1{
  flex: 1 1 100%; /* 在小屏幕下每行一个卡片 */
 }

 .card1.front{
  height: 300px;
 }
}

/** ============================================================================================================= */
/** Personal Info Card
/** ============================================================================================================= */
